__pycache__/Constraction.cpython-311.pyc
__pycache__/Game.cpython-311.pyc
__pycache__/Point.cpython-311.pyc
__pycache__/Tile.cpython-311.pyc
OPEN VSC.bat
__pycache__/Board.cpython-311.pyc
__pycache__/Board.cpython-311.pyc
__pycache__/Constatnt.cpython-311.pyc
__pycache__/Player.cpython-311.pyc
__pycache__/Construction.cpython-311.pyc
__pycache__/Board.cpython-311.pyc
